<ion-header>
  <ion-toolbar>
    <ion-title>Pilih Alamat</ion-title>
    <ion-buttons slot="start">
      <ion-button (click)="dismiss()">
        <ion-icon color="beauty" slot="icon-only" name="arrow-round-back"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-searchbar (search)="cari($event)" placeholder="Cari Nama Penerima" mode="ios" color="light"></ion-searchbar>
  <ion-list *ngIf="listAlamat" class="ion-no-padding">
    <ion-item-sliding *ngFor="let penerima of listAlamat" >

      <ion-item lines="full"button (click)="pilih(penerima)">
        <ion-ripple-effect></ion-ripple-effect>
        <ion-label>
          <h2><strong>{{ penerima.nama | uppercase }}</strong> | {{ penerima.hp }}</h2>
          <p>{{ penerima.alamat }}</p>
          <p>{{ penerima.kec }}, {{ penerima.kab }}, {{ penerima.prov }}</p>
        </ion-label>
        <ion-note *ngIf="penerima.primary" slot="end" color="danger">[Utama]</ion-note>
      </ion-item>

      <ion-item-options side="end">
        <ion-item-option *ngIf="!penerima.primary" (click)="hapusAlamat(penerima.id)" color="danger">
          <ion-icon slot="top" name="trash"></ion-icon>
          Hapus
        </ion-item-option>
        <ion-item-option (click)="editAlamat(penerima)" color="medium">
          <ion-icon slot="top" name="create"></ion-icon>
          Edit
        </ion-item-option>
      </ion-item-options>

    </ion-item-sliding>
    <ion-item-sliding>
      <ion-item lines="full" button (click)="addAlamat()">
        <ion-ripple-effect></ion-ripple-effect>
        <ion-label color="beauty">
          Tambah alamat baru
        </ion-label>
        <ion-icon color="beauty" name="add" slot="end"></ion-icon>
      </ion-item>
    </ion-item-sliding>
  </ion-list>
</ion-content>
