.headers-align .mat-expansion-panel-header-title,
.headers-align .mat-expansion-panel-header-description {
  // flex-basis: 0;
  color: white;
}
.headers-align .mat-expansion-panel-header-description {
  justify-content: space-between;
  align-items: center;
}

mat-expansion-panel {
    background: var(--ion-color-beauty) !important;
    color: white;
}
.mat-expansion-panel:not(.mat-expanded):not([aria-disabled=true]) .mat-expansion-panel-header:hover {
    background: var(--ion-color-beauty) !important;
}
.mat-accordion .mat-expansion-panel:not(.mat-expanded), .mat-accordion .mat-expansion-panel:not(.mat-expansion-panel-spacing) {
    border-radius: 0 !important;
}
.mat-expansion-panel:not([class*=mat-elevation-z]) {
    box-shadow: 0 0px var(--ion-color-beauty);
}

.title {
    padding: 0px 10px 0px;
    display: flex;
    font-size: 15px;
    align-items: center;
    background-color: gainsboro;
}
.title ion-icon {
    margin: 5px;
}
ion-item ion-icon {
    margin: 10px 10px 10px 0;
}