.card {
    padding: 15px 30px;
    margin: 0 auto;
    position: absolute;
    left: 50%;
    top: 50%;
    width: 90%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
h6 {
    font-size: 15px;
    margin: -13px 0px;
}