.header {
    background-color: #54388E;
    height: 250px;
    color: white;
}
.avatar {
    display: block;
    margin: 0 auto;
}
ion-avatar {
    width: 100px;
    height: 100px;
    border: solid;
}
h2 {
    margin-top: 18px;
    margin-bottom: 5px;
    font-size: 24px;
}
h5 {
    font-size: 18px;
    color: #424242;
    margin: 10px;
}
