<ion-header no-border>
  <ion-toolbar mode="ios" no-border color="beauty">
    <ion-title>
      Akun Anda
    </ion-title>
    <ion-buttons slot="primary">
      <ion-button (click)="logOut()" color="light">
        <ion-icon slot="icon-only" name="exit"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
  <ion-progress-bar *ngIf="!userInfo" type="indeterminate"></ion-progress-bar>
</ion-header>

<ion-content *ngIf="userInfo | async as user" fullscreen>
  <div class="header ion-text-center">
    <br><br>
    <ion-avatar class="avatar">
      <img src="../../../assets/user.svg">
    </ion-avatar>
    <ion-text>
      <h2>{{ user.nama | uppercase}}</h2>
    </ion-text>
    <ion-text style="font-size: 18px; color: lightgrey;">{{ user.email }}</ion-text>
  </div>

  <ion-grid>
    <ion-row>
      <ion-col size="4" class="ion-text-center">
        <ion-card class="card" color="medium">
          <ion-label><span class="numbers"><strong>{{ user.keep }}</strong></span> pcs</ion-label><br>
          <ion-label>Keep</ion-label>
        </ion-card>
      </ion-col>
      <ion-col size="4" class="ion-text-center">
        <ion-card class="card" color="success">
          <ion-label><span class="numbers"><strong>{{ user.success }}</strong></span> pcs</ion-label><br>
          <ion-label>Sukses</ion-label>
        </ion-card>
      </ion-col>
      <ion-col size="4" class="ion-text-center">
        <ion-card class="card" color="danger">
          <ion-label><span class="numbers"><strong>{{ user.cancel }}</strong></span> pcs</ion-label><br>
          <ion-label>Cancel</ion-label>
        </ion-card>
      </ion-col>
    </ion-row>
    <!-- <ion-row>
      <ion-col size="6">
        <ion-card (click)="editProfil()" class="ion-activatable">
          <ion-ripple-effect></ion-ripple-effect>
          <ion-progress-bar color="tertiary" value="1"></ion-progress-bar>
          <ion-icon style="padding:10px" color="tertiary" size="large" name="bookmarks"></ion-icon>
          <h5><strong>Edit Profile</strong></h5>
        </ion-card>
      </ion-col>
      <ion-col size="6">
        <ion-card class="ion-activatable">
          <ion-ripple-effect></ion-ripple-effect>
          <ion-progress-bar color="beauty" value="1"></ion-progress-bar>
          <ion-icon style="padding:10px" color="beauty" size="large" name="analytics"></ion-icon>
          <h5><strong>Grafik</strong></h5>
        </ion-card>
      </ion-col>
    </ion-row> -->
  </ion-grid>

</ion-content>