<ion-header>
  <ion-toolbar>
    <ion-title *ngIf="data">Edit Alamat</ion-title>
    <ion-title *ngIf="!data">Tambah Alamat</ion-title>
    <ion-buttons slot="start">
      <ion-button (click)="dismiss()">
        <ion-icon color="beauty" slot="icon-only" name="arrow-round-back"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="dataForm">
    <ion-item>
      <ion-label position="fixed">
        Penerima:
      </ion-label>
      <ion-input class="ion-text-end" autocapitalize="on" formControlName="nama" type="text" placeholder="Nama penerima"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="fixed">
        Nomor HP:
      </ion-label>
      <ion-input class="ion-text-end" formControlName="hp" (keyup)="prefix=true" type="tel">
      </ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="fixed">Alamat:</ion-label>
      <ion-input class="ion-text-end" formControlName="alamat" type="text" placeholder="Nama gedung, jalan, dsb..."></ion-input>
    </ion-item>
  <div *ngIf="!editKec">
    <ion-item>
      <ion-buttons slot="end">
        <ion-button (click)="editKec=true" fill="solid" color="beauty">
          <ion-icon name="create"></ion-icon>&nbsp;Edit
        </ion-button>
      </ion-buttons>
      <ion-label position="fixed">
        Kecamatan:
      </ion-label>
      <ion-input [value]="dataForm.controls['kec'].value" disabled type="text"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="fixed">
        Kabupaten:
      </ion-label>
      <ion-input [value]="dataForm.controls['kab'].value" disabled type="text"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="fixed">
        Provinsi:
      </ion-label>
      <ion-input [value]="dataForm.controls['prov'].value" disabled type="text"></ion-input>
    </ion-item>
  </div>
    <mat-accordion *ngIf="editKec">
      <mat-expansion-panel [expanded]="expand" style="margin-top:10px">
        <mat-expansion-panel-header>
          <mat-panel-title>
            <span *ngIf="!kecPilihan">Kecamatan</span>
            <span *ngIf="kecPilihan"><strong>{{ kecPilihan.subdistrict_name }}</strong> {{ kecPilihan.city }}</span>
          </mat-panel-title>
        </mat-expansion-panel-header>
        <ion-input formControlName="kec" (click)="expand=!expand" (keyup)="cari(dataForm.controls['kec'].value)" placeholder="Cari Kecamatan"></ion-input>

        <ion-list class="ion-no-padding">
            <ion-item *ngIf="dataKecamatan?.length===0 && dataForm.controls['kec'].value?.length>1">
              <ion-label>
                <span style="color:red">Kecamatan tidak ditemukan!</span>
              </ion-label>
            </ion-item>
            <ion-item *ngFor="let data of dataKecamatan" (click)="pilihKecamatan(data)">
              <ion-label>
                <strong>{{ data?.subdistrict_name }}</strong>, {{ data?.city }}, {{ data?.province }}
              </ion-label>
            </ion-item>
        </ion-list>
      </mat-expansion-panel>
    </mat-accordion>
    
    <ion-item-divider></ion-item-divider>
    <ion-item (click)="hapusAlamat()" *ngIf="data" button lines="full">
      <ion-ripple-effect></ion-ripple-effect>
      <ion-label color="danger">Hapus Alamat</ion-label>
      <ion-icon color="danger" name="trash" slot="end"></ion-icon>
    </ion-item>
  </form>
</ion-content>

<ion-footer>
  <ion-button [disabled]="dataForm.invalid"
    expand="full" color="beauty" (click)="dismiss(true)">KIRIM
  </ion-button>
</ion-footer>