.active {
  background-color: #de2d5f;
  border-radius: 15px;
}

.custom-nav {
  height: 48px;
  width: 20px;
  vertical-align: middle;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.fancy-toolbar {
  border-radius: 30px 30px 0px 0px;
}

.filter {
  border-radius: 30px;
}

.harga {
  margin-left: -120px;
}

ion-badge {
  position: absolute;
  top: 15px;
  right: 37px;
  border-radius: 0px 10px;
  color: #9a1374;
  padding: 2.5px 5px 3px;
}

ion-button {
  margin: 0;
}

ion-header {
  background-color: #de2d5f;
}

.jumlah-barang {
  position: absolute;
  right: 10px;
  top: 35px;
  font-size: 14px;
}

.status {
  padding: 5px;
  width: 25px;
  border-radius: 15px;
  margin: 0 5px 0 1px;
}

.total {
  position: absolute;
  right: 10px;
  top: 10px;
  font-size: 14px;
  color: black;
}

// calendar theme block
.day {
  position: absolute;
  font-size: 20px;
  top: 13px;
  left: 10px;
  color: black;
}
.month {
  position: absolute;
  top: 38px;
  left: 10px;
}
// calendar theme block

// card-line theme block
.order {
  border-left: solid #f04141 5px;
}
.dibayar {
  border-left: solid #10dc60 5px;
}
.dikirim {
  border-left: solid #3880ff 5px;
}
// card-line theme block