<ion-content>
    <div class="container">
      <ion-text color="primary" class="ion-text-center">
          <h1>
            <ion-icon name="logo-slack" color="primary"></ion-icon>
            <strong>Daftar Member</strong>
          </h1>
          <h6>NabiilahBeauty.com</h6>
      </ion-text>
      <br>
      <form [formGroup]="registerForm">
        <ion-item>
          <ion-label position="floating">
            <ion-icon class="icon" size="large" name="contact" color="primary"></ion-icon>&nbsp;
            Nama Lengkap
          </ion-label>
          <ion-input formControlName="nama" type="text"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">
            <ion-icon class="icon" size="large" name="logo-whatsapp" color="primary"></ion-icon>&nbsp;
            Nomor Whatsapp
          </ion-label>
          <ion-input formControlName="hp" (click)="prefix=true" (keyup)="prefix=true" type="number">
            <span *ngIf="prefix" matPrefix>+&nbsp;</span>
          </ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">
            <ion-icon class="icon" size="large" name="at" color="primary"></ion-icon>&nbsp;
            Email
          </ion-label>
          <ion-input formControlName="email" type="email"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">
            <ion-icon class="icon" size="large" name="lock" color="primary"></ion-icon>&nbsp;
            Password
          </ion-label>
          <ion-input formControlName="password" type="password"></ion-input>
        </ion-item>
        <ion-note *ngIf="registerForm.controls['password'].value?.length<6 && registerForm.controls['password'].value"
          color="danger">Password minimal 6 huruf!
        </ion-note>
        <ion-item>
          <ion-label position="floating">
            <ion-icon class="icon" size="large" name="lock" color="primary"></ion-icon>&nbsp;
            Ulangi Password
          </ion-label>
          <ion-input formControlName="upassword" type="password"></ion-input>
        </ion-item>
        <ion-note *ngIf="registerForm.controls['password'].value!==registerForm.controls['upassword'].value && registerForm.controls['upassword'].touched"
          color="danger">Password tidak sama!
        </ion-note>
        <mat-accordion>
          <mat-expansion-panel [expanded]="expand" style="margin-top:10px">
            <mat-expansion-panel-header>
              <mat-panel-title>
                <mat-icon>my_location</mat-icon>&nbsp;
                <span *ngIf="!kecPilihan">
                  Alamat Lengkap
                </span>
                <span *ngIf="kecPilihan">
                  <strong>{{ kecPilihan.subdistrict_name }}</strong> {{ kecPilihan.city }}
                </span>
              </mat-panel-title>
            </mat-expansion-panel-header>
            <ion-item>
              <ion-textarea cols="2" placeholder="Nama jalan / desa / Rt.Rw / no. rumah" formControlName="alamat" type="text"></ion-textarea>
            </ion-item>
            <ion-input formControlName="kec" (click)="expand=!expand" (keyup)="cari(registerForm.controls['kec'].value)" placeholder="Cari Kecamatan"></ion-input>
  
            <ion-list class="ion-no-padding">
                <ion-item *ngIf="dataKecamatan?.length===0 && registerForm.controls['kec'].value.length>1">
                  <ion-label>
                    <span style="color:red">Kecamatan tidak ditemukan!</span>
                  </ion-label>
                </ion-item>
                <ion-item *ngFor="let data of dataKecamatan" (click)="pilihKecamatan(data)">
                  <ion-label>
                    <strong>{{ data?.subdistrict_name }}</strong>, {{ data?.city }}, {{ data?.province }}
                  </ion-label>
                </ion-item>
            </ion-list>
          </mat-expansion-panel>
        </mat-accordion>
      </form>
  
      <br>
  
      <ion-button [disabled]="onreg || registerForm.invalid || (registerForm.controls['upassword'].value!==registerForm.controls['upassword'].value)"
        expand="full" color="primary" (click)="register('+'+registerForm.controls['hp'].value)">DAFTAR MEMBER
      </ion-button>
      <ion-progress-bar *ngIf="onreg" type="indeterminate"></ion-progress-bar>
      <ion-button *ngIf="!onreg" expand="full" fill="clear" color="primary" (click)="tool.saveRoute('/login')">BATAL</ion-button>
      <br><br>
      <div id="recaptcha"></div>
    </div>
  </ion-content>
  