<ion-content fullscreen>
    <div class="container">
      <ion-text color="beauty" class="ion-text-center">
          <h1>
            <ion-icon name="rose" color="primary"></ion-icon>
            <strong>Daftar Member</strong>
          </h1>
          <h6>NabiilahBeauty.com</h6>
      </ion-text>
      <br>
      <form [formGroup]="registerForm">
        <ion-item>
          <ion-label position="floating">
            <ion-icon class="icon" size="large" name="contact" color="beauty"></ion-icon>&nbsp;
            Nama Lengkap
          </ion-label>
          <ion-input formControlName="nama" type="text"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">
            <ion-icon class="icon" size="large" name="logo-whatsapp" color="beauty"></ion-icon>&nbsp;
            Nomor Whatsapp
          </ion-label>
          <ion-input formControlName="hp" type="tel">
            <!-- <span *ngIf="prefix" matPrefix>+&nbsp;</span> -->
          </ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">
            <ion-icon class="icon" size="large" name="at" color="beauty"></ion-icon>&nbsp;
            Email
          </ion-label>
          <ion-input formControlName="email" type="email"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">
            <ion-icon class="icon" size="large" name="lock" color="beauty"></ion-icon>&nbsp;
            Password
          </ion-label>
          <ion-input formControlName="password" type="password"></ion-input>
        </ion-item>
        <ion-note *ngIf="registerForm.controls['password'].value?.length<6 && registerForm.controls['password'].value"
          color="danger">Password minimal 6 huruf!
        </ion-note>
        <ion-item>
          <ion-label position="floating">
            <ion-icon class="icon" size="large" name="lock" color="beauty"></ion-icon>&nbsp;
            Ulangi Password
          </ion-label>
          <ion-input formControlName="upassword" type="password"></ion-input>
        </ion-item>
        <ion-note *ngIf="registerForm.controls['password'].value!==registerForm.controls['upassword'].value && registerForm.controls['upassword'].touched"
          color="danger">Password tidak sama!
        </ion-note>
        <mat-accordion>
          <mat-expansion-panel [expanded]="expand" style="margin-top:10px">
            <mat-expansion-panel-header>
              <mat-panel-title>
                <mat-icon>my_location</mat-icon>&nbsp;
                <span *ngIf="!kecPilihan">
                  <strong>Alamat Lengkap</strong>
                </span>
                <span *ngIf="kecPilihan">
                  <span>{{ kecPilihan.alamat }}</span><br>
                  <strong>{{ kecPilihan.subdistrict_name }}</strong> {{ kecPilihan.city }}
                </span>
              </mat-panel-title>
            </mat-expansion-panel-header>
            <ion-item>
              <ion-textarea placeholder="Nama jalan / desa / kelurahan" formControlName="alamat" type="text"></ion-textarea>
            </ion-item>
            <ion-item>
              <ion-input formControlName="kec" (click)="expand=!expand" (keyup)="cari(registerForm.controls['kec'].value)" placeholder="Ketik Cari Kecamatan"></ion-input>
            </ion-item>
  
            <ion-list class="ion-no-padding">
                <ion-item *ngIf="dataKecamatan?.length===0 && registerForm.controls['kec'].value.length>1">
                  <ion-label>
                    <span style="color:red">Kecamatan tidak ditemukan!</span>
                  </ion-label>
                </ion-item>
                <ion-item *ngFor="let data of dataKecamatan" (click)="pilihKecamatan(data)">
                  <ion-label>
                    <strong>{{ data?.subdistrict_name }}</strong>, {{ data?.city }}, {{ data?.province }}
                  </ion-label>
                </ion-item>
            </ion-list>
          </mat-expansion-panel>
        </mat-accordion>
      </form>

      <br>
      <div style="text-align:-webkit-center" id="recaptcha"></div>

      <div style="text-align:center">
        <ion-label class="ion-text-center" style="font-size:12px;color:darkgrey">Dengan klik daftar member dibawah ini, anda berarti telah menyetujui syarat & ketentuan yang telah kami tetapkan.</ion-label>
      </div>
  
      <ion-button [disabled]="onreg || registerForm.invalid || (registerForm.controls['upassword'].value!==registerForm.controls['upassword'].value)"
        expand="full" color="beauty" (click)="register(registerForm.controls['hp'].value)">DAFTAR MEMBER
      </ion-button>
      <ion-progress-bar *ngIf="onreg" type="indeterminate"></ion-progress-bar>
      <ion-button *ngIf="!onreg" expand="full" fill="clear" color="beauty" (click)="tool.saveRoute('/login')">BATAL</ion-button>
      <br><br>
    </div>
  </ion-content>
  