<ion-header>
  <ion-toolbar mode="ios" color="beauty">
    <ion-buttons slot="start">
      <ion-button color="light" routerLink="/tabs">
          <ion-icon slot="icon-only" name="arrow-round-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Keranjang Saya</ion-title>
  </ion-toolbar>
  <ion-progress-bar *ngIf="onload && cart" color="beauty" type="indeterminate"></ion-progress-bar>
</ion-header>

<ion-content *ngIf="onload && !cart">
  <div class="cart-empty">
    <ion-img src="../../../assets/cart-empty.svg"></ion-img>
    <ion-label>Keranjang Kosong</ion-label>
  </div>
</ion-content>

<ion-content *ngIf="!onload && cart">
  <ion-text class="title">
    <ion-icon name="cart" color="beauty"></ion-icon>
    <strong>PRODUK PESANAN</strong>
  </ion-text>
  <ion-list class="ion-no-padding">
    <ion-item-sliding *ngFor="let item of cart; let i=index">
      <ion-item>
        <ion-thumbnail slot="start">
          <span [class]="item.valid?'stock':'stock out-stock'">{{ item.stock }}</span>
          <ion-img [src]="item.img[0]"></ion-img>
        </ion-thumbnail>
        <ion-label [color]="item.valid?'dark':'danger'">
          <h3><strong>{{ item.nama | ucwords }}</strong></h3>
          <p>Rp{{ item.hargaJual | number }}</p>
        </ion-label>
        <div class="change-icon">
            <ion-icon class="count-button" [color]="item.valid?'beauty':'danger'" size="large" name="remove-circle" (click)="editBarang(item,-1)"></ion-icon>
            <ion-label [color]="item.valid?'dark':'danger'"><strong>{{ item.jumlah }}</strong></ion-label>
            <ion-icon class="count-button" [color]="item.valid?'beauty':'danger'" size="large" name="add-circle" (click)="editBarang(item,1)"></ion-icon>
        </div>
        <div class="subtotal">
          <ion-label *ngIf="item.valid">Rp{{ item.jumlah * item.hargaJual | number }}</ion-label>
          <ion-label color="danger" *ngIf="!item.valid">OUT STOCK</ion-label>
        </div>
      </ion-item>
      <ion-item-options side="end">
        <ion-item-option color="danger" (click)="hapusBarang(item)">HAPUS</ion-item-option>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>
  <ion-list  *ngIf="cart" class="ion-no-padding">
    <ion-item>
      <ion-label class="totalan">Sub-Total:</ion-label>
      <ion-note color="beauty"><h5>Rp{{ (cart | pluck:'subtotal' | sum) | number }}</h5></ion-note>
    </ion-item>
    <ion-item *ngIf="adaPotongan && !adaDiskon && ekspedisi">
      <ion-label color="success" class="totalan">Potongan:</ion-label>
      <ion-note color="success"><h5>-Rp{{ $diskon | number }}</h5></ion-note>
    </ion-item>
    <ion-item *ngIf="adaDiskon">
      <ion-label color="danger" class="totalan">Diskon:</ion-label>
      <ion-note color="danger"><h5>-Rp{{ $diskon | number }}</h5></ion-note>
    </ion-item>
    <ion-item *ngIf="deposit!=0">
      <ion-label color="beauty" class="totalan">Deposit {{ dropshiperData.nama }}:</ion-label>
      <ion-note color="beauty"><h5>-Rp{{ deposit | number }}</h5></ion-note>
    </ion-item>
    <ion-item *ngIf="hutang!=0">
      <ion-label color="beauty" class="totalan">Hutang:</ion-label>
      <ion-note color="beauty"><h5>Rp{{ hutang | number }}</h5></ion-note>
    </ion-item>
    <ion-item *ngIf="ekspedisi">
      <ion-label class="totalan">Ongkir [{{ (cart | pluck:'subberat' | sum)/1000 | number }}Kg]:</ion-label>
      <ion-note color="beauty"><h5>Rp{{ ekspedisi.ongkir | number }}</h5></ion-note>
    </ion-item>
    <ion-item *ngIf="ekspedisi">
      <ion-label color="beauty" class="totalan">Kode Unik:</ion-label>
      <ion-note color="beauty"><h5>{{ kodeUnik | number }}</h5></ion-note>
    </ion-item>
    <ion-item *ngIf="ekspedisi">
      <ion-label class="totalan"><strong>TOTAL:</strong></ion-label>
      <ion-note color="beauty"><h5><strong>Rp{{ total | number }}</strong></h5></ion-note>
    </ion-item>
  </ion-list>

  <ion-text *ngIf="adaSender" class="title">
    <ion-icon name="pin" color="beauty"></ion-icon>
    <strong>PENGIRIM</strong>
  </ion-text>
  <ion-list *ngIf="adaSender" class="ion-no-padding">
    <ion-item>
      <ion-label><strong>Nama:</strong></ion-label>
      <ion-input placeholder="Nama Dropshiper" [(ngModel)]="senderName"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label><strong>+</strong></ion-label>
      <ion-input placeholder="Nomor HP" [(ngModel)]="senderNumber" type="number"></ion-input>
    </ion-item>
  </ion-list>
  <ion-text class="title">
    <ion-icon name="pin" color="beauty"></ion-icon>
    <strong>TUJUAN PENGIRIMAN</strong>
  </ion-text>
  <ion-list *ngIf="!customerData" class="ion-no-padding">
    <ion-item button>
      <ion-ripple-effect></ion-ripple-effect>
      <ion-avatar slot="start">
        <ion-img src="../../../assets/user.svg"></ion-img>
      </ion-avatar>
      <ion-label color="beauty">
        <h2><strong>KLIK UNTUK EDIT</strong></h2>
        <h3>+628x-xxxx-xxxx</h3>
        <p>Kecamatan, Kabupaten</p>
      </ion-label>
      <div class="change-icon">
        <ion-icon color="dark" size="large" name="create"></ion-icon>
      </div>
    </ion-item>
  </ion-list>
  <ion-list *ngIf="customerData as customer" class="ion-no-padding">
    <ion-item button detail (click)="editCustomer()">
      <ion-ripple-effect></ion-ripple-effect>
      <ion-avatar slot="start">
        <ion-img src="../../../assets/user.svg"></ion-img>
      </ion-avatar>
      <ion-label>
        <h2><strong>{{ customer.nama }}</strong> | {{ customer.hp }}</h2>
        <p>{{ customer.alamat }}</p>
        <p>{{ customer.kec }}, {{ customer.kab }}, {{ customer.prov }}</p>
      </ion-label>
    </ion-item>
  </ion-list>

  <!-- <ion-text class="title">
    <ion-icon name="pin" color="beauty"></ion-icon>
    <strong>PENGIRIM</strong>
  </ion-text>
  <ion-list *ngIf="!senderName" class="ion-no-padding">
    <ion-item button (click)="senderName=' '">
      <ion-ripple-effect></ion-ripple-effect>
      <ion-avatar slot="start">
        <ion-img src="../../../assets/user.svg"></ion-img>
      </ion-avatar>
      <ion-label color="beauty">
        <h2><strong>{{ defaultSender.nama }}</strong></h2>
        <h3>{{ defaultSender.hp }}</h3>
      </ion-label>
      <div class="change-icon">
        <ion-icon color="dark" size="large" name="create"></ion-icon>
      </div>
    </ion-item>
  </ion-list>
  <ion-list *ngIf="senderName" class="ion-no-padding">
    <ion-item>
      <ion-label><strong>Nama:</strong></ion-label>
      <ion-input [value]="senderName"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label><strong>HP:</strong></ion-label>
      <ion-input [value]="senderNumber"></ion-input>
    </ion-item>
  </ion-list>

  <ion-text class="title">
    <ion-icon name="pin" color="beauty"></ion-icon>
    <strong>DROPSHIPER</strong>
  </ion-text>
  <ion-list *ngIf="dropshiperData" class="ion-no-padding">
    <ion-item>
      <ion-avatar slot="start">
        <ion-img src="../../../assets/user.svg"></ion-img>
      </ion-avatar>
      <ion-label>
        <h2><strong>{{ dropshiperData.nama }}</strong></h2>
        <h3>+{{ dropshiperData.hp }}</h3>
      </ion-label>
      <ion-badge color="success" class="success-s" mode="ios">{{ dropshiperData.success }}</ion-badge>
      <ion-badge color="danger" class="cancel-s" mode="ios">{{ dropshiperData.cancel }}</ion-badge>
      <ion-badge color="medium" class="keep-s" mode="ios">{{ dropshiperData.keep }}</ion-badge>
    </ion-item>
  </ion-list> -->

  <ion-text *ngIf="customerData" class="title">
    <ion-icon name="airplane" color="beauty"></ion-icon>
    <strong>EKSPEDISI</strong>
  </ion-text>
  <ion-list *ngIf="customerData as customer" class="ion-no-padding">
    <ion-item button (click)="editEkspedisi(customer)">
      <ion-ripple-effect></ion-ripple-effect>
      <ion-avatar slot="start">
        <ion-icon class="avatar-icon" name="airplane" size="large" color="beauty"></ion-icon>
      </ion-avatar>
      <ion-label color="beauty" *ngIf="!ekspedisi">
        <h2><strong>PILIH EKSPEDISI</strong></h2>
        <h3>Untuk pengiriman ke {{ customer.kec }}</h3>
      </ion-label>
      <ion-label *ngIf="ekspedisi">
        <h2><strong>{{ ekspedisi.kurir | uppercase }}</strong> {{ ekspedisi.service | uppercase }}</h2>
        <h3>Rp{{ ekspedisi.ongkir | number }}</h3>
      </ion-label>
      <div class="change-icon">
        <ion-icon color="dark" size="large" name="sync"></ion-icon>
      </div>
    </ion-item>
  </ion-list>

</ion-content>

<ion-footer *ngIf="cart" class="ion-no-padding">
  <ion-list class="line-input">
    <ion-item>
      <ion-label *ngIf="ekspedisi" style="font-size: 18px;color: var(--ion-color-beauty);"><strong color="beauty">Rp{{ total | number }}</strong></ion-label>
      <ion-toggle mode="ios" slot="end" name="banana" color="danger" [(ngModel)]="adaSender">Diskon</ion-toggle>
      <ion-note class="diskon" [color]="adaSender?'danger':'medium'">Kirim sebagai dropshiper</ion-note>
    </ion-item>
  </ion-list>
  <ion-toolbar class="ion-no-padding">
    <ion-button class="checkout-btn" [disabled]="!(cart | pluck:'valid' | every: valid) || !customerData || !ekspedisi || (adaSender && (!senderName || (senderNumber?.length < 8)))" color="beauty" expand="full" (click)="checkout()">BUAT PESANAN</ion-button>
  </ion-toolbar>
</ion-footer>
