.list-title {
    margin: -8px 0px -5px;
    border-top: solid 1px lightgrey;
    border-bottom: solid 1px lightgray;
    background-color: #ebe1ff;
    color: #4c4b4b;
}

ion-note {
    padding: 6px;
}
ion-badge {
    margin-right: 7px;
    margin-top: -20px;
    border-radius: 20px;
    padding: 4px 7px;
}
ion-text {
    font-size: 14px;
}
ion-img {
    height: 200px;
    margin: 10px auto;
}

.active {
    color:white;
}
.inactive {
    color:lightseagreen;
}
.filebtn {
    opacity: 0;
    position: absolute;
    top: -100em;
    left: -100em;
}