.container {
    padding: 0px 30px;
    position: absolute;
    width: 100%;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
.icon {
    width: 20px;
    margin: -10px -5px -10px 0px;
}
ion-item {
    --highlight-color-focused: #654c99;
    --highlight-color-valid: #654c99;
}
h6 {
    font-size: 15px;
    margin: -13px 0px;
}
