<ion-content>
  <div class="container">
    <ion-text color="beauty" class="ion-text-center">
      <h1>
        <ion-icon name="rose" color="primary"></ion-icon>
        <strong>NabiilahBeauty</strong>
      </h1>
      <h6>Pancarkan Cantikmu</h6>
    </ion-text>

    <br>

  <form [formGroup]="loginForm">
    <ion-item>
      <ion-label position="floating">
        <ion-icon class="icon" size="large" name="logo-whatsapp" color="beauty"></ion-icon>&nbsp;
        Nomor Whatsapp
      </ion-label>
      <ion-input formControlName="hp" (click)="prefix=true" (keyup)="prefix=true" type="number">
        <span *ngIf="prefix" matPrefix>+&nbsp;</span>
      </ion-input>
    </ion-item>
  </form>

    <br>

    <ion-button [disabled]="loginForm.invalid" expand="full" color="beauty" (click)="login()">MASUK</ion-button>
    <ion-button expand="full" fill="clear" color="dark" (click)="register()">Daftar</ion-button>
  </div>
  
  <br>
  <div style="text-align:-webkit-center" id="recaptcha"></div>
</ion-content>
