.like-btn {
    position: absolute;
    margin-top: -45px;
    background: linear-gradient(0deg, white, rgba(255, 255, 255, 0) 70%);
    width: 85px;
}

ion-badge {
    position: absolute;
    top: 15px;
    right: 37px;
    border-radius: 0px 10px;
    color: var(--ion-color-primary);
    padding: 2.5px 5px 3px;
}