<ion-header>
  <ion-toolbar mode="ios">
    <ion-title>Kabar Berita</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="posting">
    <ion-item lines="none">
      <ion-avatar slot="start">
        <img src="https://via.placeholder.com/50">
      </ion-avatar>
      <ion-label>
        <h3>NabiilahBeauty</h3>
        <p>Solo (Surakarta)</p>
      </ion-label>
    </ion-item>
    <ion-grid class="ion-no-padding">
      <ion-row>
        <ion-col size="12" class="ion-no-padding">
          <img src="https://via.placeholder.com/450">
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>
